
header{
    margin-left: auto;
    margin-right: auto;
    color: rgb(0, 146, 139);
    text-align: center;
}

form{
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    height: 40px;
    margin-bottom: 30px;
}

#newToDo{
    font-size: 20px;
    border: 1px solid rgb(0, 146, 139);
    border-radius: 5px;
    width: 75%;
    padding: 7px;
    font-family: 'Sriracha', cursive;
}

#newToDo:focus{
    outline: none;
    border: 3px solid rgb(0, 146, 139);
}

#button{
    height: 40px;
    margin-left: 6px;
    width: 40px;
    padding-top: -5px;
    border: 1px solid rgb(0, 146, 139);
    background-color: white;
    color: rgb(0, 146, 139);
    text-decoration: none;
    border-radius: 50px;
    font-size: 20px;
}

.addNew:hover{
    background-color: black;
    color: white;
}

body{
    margin: 8%;
    margin-left: 20%;
    font-family: 'Sriracha', cursive;
    background-color: azure;

}


ul li{
    position: relative;
    padding: 12px 8px 12px 20px;
    list-style-type: none;
    font-size: 18px;
    font-family: 'Sriracha', cursive;
    width: auto;
    display: inline-block;
    
}

ul li:hover{
    background-color: aliceblue;
}

ul li.completed{
    background-color: grey;
    text-decoration: line-through;
}

#todoContainer p {
    margin: 10px;
    padding: 10 px;
    font-weight: bold;
}

button{
    color: white;
    background-color: red;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    border: none;
    margin-left: 15px;
}

p{
    width: 200px;
    margin: 10px;
}

.deleteButton,
.checkButton{
    border: 2px solid red;
    margin-left: 10px;
}


.todoWrapper {
    display: flex;
    align-items: center;
}


input[type="checkbox" i]{
    margin-right: 8px;
    height: 20px;
    width: 20px;
}

input[type="checkbox" i]:checked{
    background-color:rgb(5, 109, 5);
}

.todo{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#sort{
    height: 40px;
    margin-left: 6px;
    width: 65px;
    padding-top: -5px;
    border: 1px solid rgb(0, 146, 139);
    background-color: white;
    color: rgb(0, 146, 139);
    text-decoration: none;
    border-radius: 50px;
    font-size: 20px;
}

@media only screen and (max-width: 700px) {
    #newToDo{
        width: 60%;
    }
  }